body {
	text-align: center;
	margin: 10;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
}

.container {
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
}

.container__content__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;
}

.container__input {
	width: 100%;
	margin: 0 20px 0 0;
	padding: 10px 20px;
	border: 2px solid #eee;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
}

.container__btn-add {
	height: 100%;
	cursor: pointer;
}

.container__list {
	margin: 50px 0 0;
	padding-left: 0;
	list-style-type: none;
}

.container__list-item {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	text-align: left;
}

.container__list-item__checkbox {
	width: 17px;
	height: 17px;
	margin: 0;
	cursor: pointer;
}

.container__list-item__checkbox:checked .container__list-item__name {
	color: green;
}

.container__list-item__name {
	display: inline-block;
	max-width: 511px;
	width: 100%;
	margin: 0 40px 0 20px;
 }

 .container__list-item__btn-remove {
	cursor: pointer;
 }


